*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    /* outline: 1px solid red; */
}

html {
    background-color: gray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    padding: 0;
    margin: 0;
}

.container.default > div {
    width: 50px;
    height: 50px;
}

.container {
    margin: 30px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.red {
    background-color: red;
}

.input-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 20px;
}

.grid-size {
    flex: 1 1 0;
}

.color-play {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

#shadowing,
#rainbow {
    width: 25px;
    height: 25px;
}

#textbox {
    width: 150px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.number-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}